{% extends "Base.html" %}
{% block title %} Register {% endblock %}
{% block content %}
<div class="alert alert-primary my-3 text-center">
    Welcome! Please enter your Credentials below to login :)
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-sm-12 col-md-8 col-lg-5">
        <div class="card px-3 py-3">
            <form action="#" method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">User ID : </label>
                  <input type="text" class="form-control" id="exampleInputEmail1" name="user_id" aria-describedby="emailHelp" required
                  pattern="[A-Za-z0-9]{8,}" title="The user ID can be alphabetic or alphanumeric and should have a minimum of 8 characters">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password : </label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name = "password" required
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}"
                title="Password should contain 10 characters including one special character, one upper case, one numeric.">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-success">Register</button>
                </div>
              </form>
        </div>
    </div>
    <div class="col"></div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for m in messages %}
        <div class="alert alert-danger my-3 text-center">
            {{m}}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
{% endblock %}